* {
    box-sizing: border-box; /*padding and border included in width and height*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

/*parent*/
.section-one {
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.image-grid {
    position: relative;
    display: flexbox;
    flex-wrap: nowrap;

    height: auto;
    width: 100%;
    margin: 12px;
    padding: 0 100px;
}

.bird-label-grid {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0 100px;
}

.bird-name {
    width: 32.5%;
    aspect-ratio: 1 / 1;
    text-align: center;
    margin: 0;

    color: rgba(255, 255, 255, 0);
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

    /*this is to center the names*/
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease;


}
.bird-name:hover {
    background-color: rgba(48, 48, 48, 0.562);
    color: rgb(134, 183, 215);
}

.bird-image {
    width: 32.5%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    float: left;
}

a {
    text-decoration: none;
    font-weight: 600;
}

.box-label {
    margin-top: 150px;
    margin-bottom: 0px;
    color:rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    width: 100%;
}

/*------------------------*/
/* Paragraph section Start*/


.section-two {
    min-height: 100vh;
    padding: 20px 100px;
    background: rgb(83, 196, 88);
    background: linear-gradient(0deg, rgb(83, 196, 88) 0%, rgb(158, 240, 175) 100%) no-repeat;

}

.section-two h2 {
    color: rgb(32, 32, 32);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
}

.section-two p {
    color: rgb(27, 27, 27);
    font-size: 18px;
    margin: 30px 0;
}

/* Paragraph section END*/
/*----------------------*/


/*---------------------*/
/* Sticky Nav Bar Start*/

header {
    z-index: 999;
    position: fixed; /* fixed makes element position based on viewport*/
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}

header.sticky { /*no space, refers to a class with both elements (<header class="sticky">)*/
    background-color: rgb(14, 79, 22);
    padding: 15px 100px;

}

header .brand {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align:justify;
    line-height: 20px;
}

header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;;
}

header .menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;

    transition: 0.3s;
    transition-property: color, background;
}

header .menu a:hover {
    color: #000;
    background-color: #fff;
}

header .btn {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* when screen becomes 1060px, */
@media (max-width: 1023px) { /*media is for what the site is viewed on */
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background:rgb(14, 79, 22);;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%; /*hidden*/
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }
    header .menu.active {
        right: 0;
    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}

@media (max-width: 630px) {
    .box-label {
        font-size: 50px;
        line-height: 60px;
    }

    .image-grid {
        padding: 0 50px;
    }

    .bird-label-grid {
        padding: 0 50px;
    }
}

/* Sticky Nav Bar END*/
/*---------------------*/
